@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

/*GLOBAL*/
*{
  margin:0;
  padding:0;
  list-style-type: none;
  box-sizing:border-box;
}
body{
  font-family: Verdana ;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-left: 1.2em;
  margin-top: 1em;
}
.app{
  max-width: 30em;
  margin:auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  background-color: rgb(67, 56, 165);
}
form {
  width: 80%;
  background-color: rgb(97, 85, 204);
  margin: 2.8em;
  margin-bottom: 0em;
  padding: 2em;
  border-radius: 5px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  color: white;
}


/*Buttons*/
.links{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.btn-primary{
  width: 100%;
  justify-content: center;
  padding: 1.5em;
  border: none;
  border-radius: 1px;
  background-color: rgb(97, 85, 204);
}
.btn-nav{
  width: 100%;
  text-align: left;
  padding: 1em;
  padding-left: 3em;
  background-color: rgb(97, 85, 204);
  color: white;
}
.btn:hover{
  background-color: white;
}
.btn-form{
  background-color: rgb(9, 162, 209);
  margin-top: 1em;
  color: white;
  width: 20em;
}
.btn-leave{
  background-color: rgb(231, 60, 38);
  margin-top: 1em;
  color: white;
  width: 20em;
}


/*Settings*/
.settings{
  color: white;
  display: flex;
}
.profile{
  border-radius: 50%;
  border: 1px white solid;
}
.profile:hover{
  cursor: pointer;
  opacity: 0.5;
}
.delete{
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}


label{
  color: white;
  width: 100%;
  text-align: left;
  margin-top: 1em;
  font-size: 1.2em;
}
.welcome{
  margin-left: 1em;
}
.view{
  min-height: 100vh;
}
.view{
  display: flex;
  flex-direction:column;
}
.header i{
  color: white;
  font-size: 3em;
}
.main{
  flex: 1 0 auto;
  padding:1em;
}
h3{
  text-align: center;
  margin-top: 2em;
  color: white;
  padding-bottom: 0.5em;
}
h1{
  text-align: center;
  color: white;
  margin-top: 1em;
}

/*Share Card*/
.share-wrap{
  color: white;
  background-color: rgb(97, 85, 204);
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}
.share-img-top{
  width: 100%;
  margin: auto;
  height: 280px;
}
.share-title{
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  margin: 0.8em;
}
#image-input{
  padding-bottom: 2.2em;
}
#profile-picture{
  padding-bottom: 2.2em;
  margin-top: 1em;
}
.share-description{
  font-size: 0.9em;
  margin: 1.2em;
}
.icons{
  display: flex;
  margin-top: 3em;
  justify-content: space-around;
}
i{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.like{
  color: lightcoral;
}