@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


$bg-color: #0D0D0D;
$logo-color: #0597F2;
$text-color: #E5E5E5;
$shadow-color: #0CF25D;


@mixin header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 6em;
    margin: 0 auto;
    padding: 1em;
    background: linear-gradient(180deg, rgba(0,40,62,1) 50%, rgba(13,13,13,.0) 100%);


    .fa-chevron-left{
        flex: 0 0 2em;
        font-size: 2em;
        color: $logo-color;
    }

    .logo{

        img{
            width: 4em;
            margin: 0 auto;
        }
    }

    .profimg{

        img{
            width: 4em;
            height: 4em;
            border-radius: 50%;
            box-shadow: 0px 0px 10px $shadow-color;
        }   
    }

    .welcome{
        width: 60%;

        p{
            color: $text-color;
            font-size: 1.25em;
            font-weight: 100;
        }
    }
}

@mixin form {
        margin: 4em auto;
        width: 80vw;

        .form-group{
            margin: 2em 0;

            label{
                color: $text-color;
                font-weight: 100;
                font-size: .75em;
                text-transform: uppercase;
                letter-spacing: .15em;
            }

            input{
                background-color: rgba($color: $logo-color, $alpha: .25);
                border: none;
            }

            textarea{
                width: 80vw;
                background-color: rgba($color: $logo-color, $alpha: .25);
                font-size: .75em;
                color: rgba($color: $text-color, $alpha: .5);
                font-weight: 100;
                padding: 1em;
            }

            ::placeholder{
                font-size: .75em;
                color: rgba($color: $text-color, $alpha: .5);
                font-weight: 100;
            }
        }
}

@mixin button {
    position: relative;
    margin: 0 auto;
    background-color: $text-color;
    padding: 0em 2em;
    border: none;
    color: $logo-color;
    border-radius: 15px;
}

@mixin footer {
        min-height: 3em;
        border-radius: .5em .5em 0em 0em;
        background-color: #00283e;
        display: flex;
        justify-content: space-between;
        align-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: .5em 2em;
        box-sizing: border-box;
        width: 100vw;

        i{
            font-size: 2.5em;
            color: $logo-color;
        }
}

*{
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color;
}

.app{
    width: 100vw;
    height: 100vh;

    .splashPage{

        main{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
          .logo{
    
            img{
              display: block;
              margin: 0 auto;
            }
          }
    
          .signin-signup{
              margin: 0 auto;
              width: 40%;
              text-align: center;
    
            button{
              @include button;
              margin-bottom: 2em;
            }
          }
        }
      }

    .signUp, .signIn{

        header{
            text-align: center;
            padding-top: 3em;
            box-sizing: border-box;        }

        main{
            text-align: center;
            margin-top: 3em;

            .signIn, .signUp{
                position: relative;

                h1{
                    position: absolute;
                    text-align: center;
                    width: 100vw;
                    color: $text-color;
                    letter-spacing: .1em;
                }
            }

            img{
                width: 8em;
            }

            form{
                width: 90vw;
                margin: 3em auto;
                height: 16em;

                input{
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba($color: $logo-color, $alpha: .5);
                }

                ::placeholder{
                   color: rgba($color: $logo-color, $alpha: .5);
                }
            }

            button{
                @include button;
                margin-top: 2em;
            }
        }
    }

    .newShares{

        header{
            @include header;
            padding-top: 3em;

            .profimg{

                img{
                    width: 6em;
                    height: 6em;
                    box-shadow: none;
                }   
            }
        }

        main{
            position: relative;
            margin-top: 2em;

            h2{
                position: absolute;
                top: .05em;
                color: $text-color;
                font-size: 2.5em;
                text-transform: uppercase;
                width: 100vw;
                text-align: center;   
            }

            .logo{
                text-align: center;

                img{
                    width: 40vw;
                }
            }
        }

        footer{
            @include footer;
        }
    }

    .addUpdateShare{

        header{
            @include header;
        }

        main{
            position: relative;
            margin-top: 2em;

            h2{
                position: absolute;
                top: .05em;
                color: $text-color;
                font-size: 2.5em;
                text-transform: uppercase;
                width: 100vw;
                text-align: center;   
            }

            .logo{
                text-align: center;

                img{
                    width: 40vw;
                }
            }

            form{
                @include form;

                button{
                    @include button;
                    margin-top: -1em;
                    text-align: center;
                    display: block;
                }

                // input[type='file']{
                //     background-color: transparent;
                // }
            }
        }

        footer{
            @include footer;
        }
    }

    .usersPosts{
        header{
            @include header;
        }

        main{
            width: 80vw;
            margin: 2em auto;
            color: $text-color;

            .profimg{
                text-align: center;
                img{
                    width: 8em;
                    height: 8em;
                    border-radius: 50%;
                }
            }

            h1{
                text-align: center;
            }

            p{
                text-align: center;
                font-size: .85em;
                font-weight: 100;
            }
        }

        footer{
            @include footer;
        }
    }

    .settings{

        header{
        @include header;
        }

        main{

            .profimg{
                text-align: center;

                img{
                    width: 8em;
                    height: 8em;
                    border-radius: 50%;
                }
            }

            h1{
                text-align: center;
                color: $text-color;
            }

            form{
                @include form;
                margin: 1em auto;

                .form-group{
                    margin: 1em 0;
                    position: relative;
                }

                i{
                    position: absolute;
                    bottom: .7em;
                    right: .25em;
                    color: $logo-color;
                }

                .buttons{
                    width: 50%;
                    padding-bottom: 4em;
                    margin: 1em auto;
                    text-align: center;

                    button{
                        @include button;
                        margin-top: 1em;
                        width: 8em;
                    }
                }
            }
        }

        footer{
            @include footer;
        }
    }
}